{% extends 'base.html' %}


{% block title %} Flask CRUD {% endblock %}



{% block body %}
<div class="container-fluid" style="background-color: rgb(107, 245, 255);">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light ">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5000/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/create">Add Student</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">Students List</a>
            </li>
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <li class="nav-item">
              <a class="nav-link" href="/login" >Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register" >Register</a>
            </li>  
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
<div class=" p-3">
  <div class="well text-center">

    <h3>Flask CRUD Application </h3>
    
  </div>
</div>


{% endblock %}